
/* Full-screen overlay */
.scanner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.scanner-box {
   
    text-align: center;
    width: 90%; /* Responsive width */
    max-width: 400px; /* Limits width */
    max-height: 80vh; /* Prevents overflowing */
    overflow: hidden; /* Ensures no scrollbars */
}

/* Close Button */
.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    color: white;
    font-size: 14px;
    padding: 10px;
    border-radius: 30%;
    cursor: pointer;
    border: none;
}
